*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto",sans-serif;
}
body{
    background-color: #fafafa;
    width: 100rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 01rem 01rem 01rem #c4c4c4,-0.1rem 0rem 0.1rem #c4c4c4;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo{
    font-size: 4rem;
}
nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li{
    padding: 1rem;
    transition: all o.4s;
}
nav ul li:hover{
    background-color: brown;
    border-radius: 6px;
}
.nav__link{
    font-size: 1.8rem;
    color: white;
}
#blog-banner-setion{
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
#blog-banner-setion article{
    flex-basis: 50%;
    margin: 1rem;
}
#blog-banner-setion aside{
    flex-basis: 50%;
    text-align: center;
}
.blog_btn{
    min-width: 10rem;
}
.banner__img{
    height: 35rem;
    width: 35rem;
    border: 3px solid;
}
.banner__heading{
    display: inline-block;
    background-color: black;
    color: #fafafa;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.banner__des{
    font-size: 1.5rem;
    text-align: justify;
}
#blog__section{
    height: 100vh;
    background-color: #c4c4c4;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 1rem;
}
.card{
    flex: 1;
    border-radius: 1rem;
    background-color: orange;
    padding: 3rem 1rem;
    margin: 1rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.2);
}
.sec_heading{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.card_header{
    font-size: 3rem;
}
.card_des{
    padding: 0.8rem 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: start;
}
.card_btn{
    width: 90%;
    border-radius: 0.8rem;
    cursor: pointer;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.archieve_heading{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.archieve_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border: 0.2rem  solid;
}
.archive_img{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: all 0.3s;
}
.archive_img:hover{
    transform: scale(1.2);
}
.img_container_lists{
    display: flex;
    text-align: center;
    gap: 2rem;
}
.blog_posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog_post{
    width: 70%;
    display: flex;
    margin: 1rem 0;
}
.blog_post:hover{
    transform: scale(1.2);
}
.blog_post_aside{
    flex: 1;
}
.blog-post_content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 2rem;
}
.blog_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 4rem;
}
.blog_btn{
    width: 30%;
}
.content_heading{
    font-size: 2.5rem;
}
#contact_section{
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding-bottom: 2rem;
}
.form_control{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_control label{
    font-size: 1.6rem;
    flex: 0.3;
}
.form_control input,textarea{
    flex: 0.7;
    width: 40rem;
    padding: 2rem;
    border: none;
    border-radius: 0.6rem;
    resize: none;
}
.extra_btn{
    display: flex;
    justify-content: flex-end;
}
.contact_btn{
    font-size: 2rem;
}
.footer{
    background-color: #222;
    color: #fff;
    min-height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.copyright_rext{
    font-size: 1.2rem;
}
.footer_link{
    color: #fafafa;
}
.footer_nav{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    padding: 3rem 1rem;
}
.rbHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.memberHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 3rem;
    background-color: black;
    color: white;
}
.memName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
}
.memul{
    padding-bottom: 1rem;
    padding: 1.5rem;
}
.headDes{
    font-size: 1.5rem;
    padding: 1.5rem;
}
.piHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    padding: 1.5rem;
    background-color: black;
    color: white;
}
.project__images{
    display: flex;
    width: 31%;
}
.pro_img{
    margin: 1rem;
}
.appdesc{
    font-size: 1.5rem;
    padding: 1.5rem;
}
.clgHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.clgDes{
    font-size: 1.5rem;
}
.clglocation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    color: white;
}
.clgMap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.schoolHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.schoolDes{
    font-size: 1.5rem;
}
.schoolLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    color: white;
}
.schoolMap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.primaryHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.primarydes{
    font-size: 1.5rem;
}
.primaryLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    color: white;
}
.primaryMap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.uniHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.uniDes{
    font-size: 1.5rem;
}
.uniLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    color: white;
}
.uniMap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#blog__section a{
    min-width: 20rem;
}
@media screen and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
}
@media screen and (max-width: 768) {
    html{
        font-size: 55.5%;
    }
    .banner{
        flex-direction: column;
    }
    .cards{
        width: 80%;
        flex-direction: column;
    }
    #archives{
        min-height: auto;
    }
    .blog_post{
        width: 80%;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    html{
        font-size: 48.5%;
    }
    header{
        flex-direction: column;
    }
    .cards{
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 90%;
        flex-direction: column;
    }
    .img_container_lists{
        flex-wrap: wrap;
        gap: 1rem;
    }
}